/apps/bin
/apps/run.cmd
/apps/src/main/resources/hibernate.cfg.xml
/apps/target
/bin
.gitignore
.classpath
.gitignore~
log.txt
.project
.settings/
/src/main/resources/hibernate.cfg.xml
/target
.classpath