<suite name="Selenium Tests Suite" annotations="1.5">
  <test name="Integration Tests" enabled="true">
    <parameter name="tapestry.browser-start-command" value="*googlechrome" />
    <parameter name="tapestry.port" value="9091" />
    <parameter name="tapestry.web-app-folder" value="src/main/webapp" />
	<parameter name="tapestry.context-path" value="/apps" />
	<packages> 
		<package name="de.lemo.apps.seleniumTest"/> 
	</packages> 
    <classes>
      <class name="de.lemo.apps.seleniumTest.LoginTest"></class>
<!--      <class name="de.lemo.apps.seleniumTest.DashboardTest"></class>-->
<!--      <class name="de.lemo.apps.seleniumTest.ExplorerTest"></class>-->
    </classes>
  </test>
</suite>