<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <!-- Maven replacement variables -->
    <property name="hibernate.connection.url">${apps-hibernate-url}</property>
    <property name="hibernate.connection.username">${apps-hibernate-username}</property>
    <property name="hibernate.connection.password">${apps-hibernate-password}</property>

    <!-- config-->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.dialect">de.lemo.apps.services.internal.MysqlDialectUtf8</property>
    <property name="show_sql">false</property>
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
    <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="c3p0.acquire_increment">3</property>
    <property name="c3p0.min_size">3</property>
    <property name="c3p0.timeout">60</property>
    <property name="c3p0.max_size">100</property>
    <property name="c3p0.idleConnectionTestPeriod">100</property>
    <property name="c3p0.max_statements">0</property>
    <property name="c3p0.propertyCycle">2</property>
    <property name="c3p0.autoCommitOnClose ">false</property>
    <property name="c3p0.numHelperThreads">3</property>
    <property name="c3p0.validate">true</property>
    <property name="c3p0.acquireRetryAttempts">50</property>
    <property name="c3p0.acquireRetryDelay">1000</property>
    <property name="c3p0.maxConnectionAge">120</property>
    <property name="c3p0.automaticTestTable">connection_test_table</property>
    <property name="c3p0.testConnectionOnCheckout">true</property>
    <property name="connection.shutdown">false</property>
    <property name="connection.autoReconnectForPools">true</property>
    <property name="connection.autoReconnect">true</property>

  </session-factory>
</hibernate-configuration>

