/*!
 * LeMo Application Server Default CSS v. 0.1
 *
 */

#draggable {
	width: 100px;
	height: 70px;
	background: silver;
}


/*!
* Changes to Bootstrap default css behavior
*/

/*!
* Changes the textcolor for navbar buttons like "Explorer". Default: white, Hover: Grey
*/
.navbar .nav > li > a.btn-primary {
  color: #ffffff;
  
}

.navbar .nav > li > a.btn-primary:hover {
  color: #bbbbbb;
}

.accordion-toggle .caret {
  margin-top: 8px;
  margin-left: 2px;
}


/*!
* Changes to Tapestry palette component (multiple select)
*/

DIV.t-palette SELECT { width: 100px; }